body {
  width: 1200px;
  background-color: #383838;
}

.container {
  width: 1000px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -500px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.App {
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border: royalblue 1px solid;
  border-radius: 10px;
}

.counter {
  text-align: center;
  align-content: center;
  align-items: center;
  background-color: royalblue;
  width: 300px;
  height: 80px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 50px;
  font-weight: bold;
  border-radius: 10px;
}

.settingsDisplay {
  width: 300px;
  height: 80px;
  border: royalblue 2px solid;;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 80px;
  border: royalblue 2px solid;
  border-radius: 10px;
}

.error {
  color: red;
}

.displaySpan {
  font-size: 20px;
}

.incorrectValue {
  color: red;
  font-size: 30px;
}