body {
  width: 1200px;
  background-color: #040a47;
}

.app {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  margin-top: -100px;
  width: 400px;
  margin-left: -200px;
  width: 400px;
  height: 200px;
  border: royalblue 1px solid;
  border-radius: 10px;
}

.counter {
  text-align: center;
  background-color: royalblue;
  width: 300px;
  height: 80px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 50px;
  font-weight: bold;
  border-radius: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 80px;
  border: royalblue 2px solid;
  border-radius: 10px; 
}

.button {
  background-color: royalblue;
  width: 100px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  border: royalblue 1px solid;
  border-radius: 10px;
}  

.error {
  color: red;
}

.button-error {
  background-color: rgb(17, 61, 192);
  border: rgb(17, 61, 192) 1px solid;
  width: 100px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  border-color: royalblue;
  border-radius: 10px;
}